@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

#ext_menu-9 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #3097d1;
}
#ext_menu-9 .mbr-navbar__section {
  background: #3097d1;
}
#ext_menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-9 .mbr-brand__name a {
  font-family: 'Droid Serif', serif;
  font-size: 18px;
}
#contacts1-7 P {
  color: #ffffff;
}

#ext_menu-9 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #3097d1;
}
#ext_menu-9 .mbr-navbar__section {
  background: #3097d1;
}
#ext_menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-9 .mbr-brand__name a {
  font-family: 'Droid Serif', serif;
  font-size: 18px;
}
